

################################################
##                                            ##
##            !!! IMPORTANT  !!!              ##
##                                            ##
## These environment variables are now        ##
## expected to be set before deploy.sh runs.  ##
##                                            ##
## You can put them in .bashrc, etc.          ##
##                                            ##
################################################



############################# EXAMPLE #################################
## APP_NAME=my_app                                                   ##
##                                                                   ##
## BUILD_RELEASES_DIR=/home/fred/my_app_releases        # Example 1  ##
## BUILD_RELEASES_DIR=barney@10.0.0.5:/my_app_releases  # Example 2  ##
##                                                                   ##
## DEPLOY_ROOT_DIR=/home/deployuser/deploy-my_app                    ##
#######################################################################


# The name of your app.  It is the name of the file that runs your release in the bin directory.
APP_NAME=my_app


# The directory that you will be copying your releases from.
# This is the same directory that we copied releses to in the build process.
# NO TRAILING SLASHES(/) !!!
#  
RELEASES_REPO=someuser@10.0.0.1:/home/someuser/my_app-releases  


# The directory that you will be copying your release to on the deploy server.
# This is the directory that was created when you untarred your first release.
# It contains the automatically created 'bin'and 'releases' directories.
# NO TRAILING SLASHES(/) !!!
# 
DEPLOY_ROOT_DIR=/home/anotheruser/deploy-my_app


# THE END


